<h2>User Editting</h2>
<%= form_with model:@user do |f| %>
<table>
  <tr>
   <th><label for="inputName">Name</label></th>
   <td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前" %></td>
  </tr>
  <tr>
   <th><label for="inputIntroduction">Introduciton</label></th>
   <td><%= f.text_area :introduction, autofocus: true, id:"inputIntroduction" %></td>
  </tr>
  <tr>
   <th><label for="inputProfile_image">ProfileImage</label></th>
   <td><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></td>
  </tr>
</table>
 <%= f.submit "Update" %>
<% end %>
