<% @books.each do |book| %> <!--コントローラから渡された@books変数内から1つずつ取り出して、book変数へ格納-->
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to user_path(@user) do %>
          <%=image_tag book.user.get_profile_image(100,100) %>
          <% end %><br>
          <%= link_to book.user.name, user_path(@user) %></td>
      <td><%= link_to book.title, book_path(book.id) %></td> <!--book変数のtitleカラムを表示.Bookモデルで定義済み-->
      <td><%= book.body %></td> <!--book変数のtitleカラムを表示.Bookモデルで定義済み-->
      <td><%= render 'favorites/favorite', book: @book %></td>
      <td><%= link_to "#{book.book_comments.count} コメント", book_path(book.id) %></td>
    </tr>
  </tbody>
</table>
<% end %>

<div>
  <%= render 'errors', obj: @book %>
  <%= render 'form', book: @book %>
</div>