<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to user_path(@user.id) do %>
          <%= image_tag @user.get_profile_image(50,50) %>
          <% end %></td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      
      <td><%= render 'favorites/favorite', book: book %></td>
      
      <td><%= @book.book_comments.count %>コメント</td>
      <td><% if @book_comment.user == current_user %>
          <%= link_to "destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete %>
          <% end %></td>
          
      <td><% if @book.user == current_user %>
          <%= link_to "destroy", book_path(@book), method: :delete %>
          <% end %></td>
    </tr>
  </tbody>
</table>
<%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
