<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Review</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!--FontAwesomeの導入記述(FontAwesomeのサイトからコピーする)-->
    <script src="https://kit.fontawesome.com/beac707b93.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--動的なヘッダー作成
        link_toのHTTPメソッドは設定しなければGET
        ログアウトはHTTPメソッドがDELETE(rails routes参照)-->
    <header>
     <!-- ログインしているかどうかの判断(devise側のヘルパーメソッド)-->
     <% if user_signed_in? %>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Books", books_path %>
      </li>
      <li>
        <%= link_to "User", user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
     <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
     <% end %>
    </header>
    <%= yield %>
  </body>
</html>
